@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Roboto:ital,wght@0,400;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 100%;
    height: 100vh;
}

body {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Header Section START */

.header-container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-top: 20px;
}

.top, .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top .left-header h3 {
    font-size: 24px;
    color: #F9FAF8;
}

.top .right-header ul {
    display: flex;
    gap: 20px;
}

.top .right-header ul li {
    font-size: 18px;
    list-style: none;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.bottom {
    padding: 120px 0;
}

.bottom .left-header {
    width: 500px;
}

.bottom .left-header h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.bottom .left-header p {
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px 0;
}

.bottom .left-header button {
    background-color: #3882F6;
    border: 0;
    padding: 5px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.bottom .right-header .image-container {
    width: 450px;
    height: 266px;
    background-color: gray;
}

.header-container img {
    width: 450px;
}

/* Header Section END */

/* Info Section START */

.info-container {
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-top: 60px;
    padding-bottom: 90px;
    gap: 30px;
}

.info .info-title-container {
    text-align: center;
}

.info .info-title-container h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info .info-img-container {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    text-align: center;
}

.info-img-container .img-container {
    width: 150px;
}

.info-img-container .img-container .img{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.img-container .img img {
    width: 150px;
    border-color: #3882F6;
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
}

.info-img-container .img-container p {
    opacity: .7;
}

/* Info Section END */

/* Quote Section START */

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quote-container .quote-section {
    width: 45%;
    padding-top: 75px;
    padding-bottom: 100px;
}

.quote-section .quote {
    padding-bottom: 10px;
}

.quote-section .quote p {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    letter-spacing: 1px;
}

.quote-section .author {
    display: flex;
    justify-content: end;
}

.quote-section .author p {
    font-weight: bold;
    letter-spacing: 1px;
}

/* Quote Section END */

/* Sign up section START */

.sign-up-container {
    display: flex;
    justify-content: center;
}

.sign-up-container .sign-up-box {
    background-color: #3882F6;
    width: 50%;
    display: flex;
    color: white;
    padding: 30px 0;
    margin: 120px 0px;
    border-radius: 5px;
    justify-content: space-around;
}

.sign-up-box .sign-up-left {
    width: 50%;
}

.sign-up-box .sign-up-left h4{
    margin-bottom: 5px;
}

.sign-up-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sign-up-box .sign-up-right button {
    color: white;
    background-color: #3882F6;
    border: 0;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    padding: 5px 20px;
    font-weight: bold;
}

/* Sign up section END */

/* Footer START */

footer {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    color: white;
    padding: 30px 0px;
    justify-content: center;
}

/* Footer END */